.blue1
{
	background-color: #0099CC;
}
.blue2
{
	background-color: #CCFFCC;
}
.blue3
{
	background-color: #66CCFF;
}
.blue4
{
	background-color: #003399;
}
.MainHeading
{
font-family: Forte;
text-align: center;
}
.colhead
{
text-align: center;
}
h1
{
	font-size: 60px;
}
h2
{
	font-family: Andalus;
	font-size: 40px;
}
.BackGround
{
	background-image:url(background.jpg);
}
h3
{
	font-family: Andalus;
	font-size: 28px;
	text-align: center;
	color: green;
}

.btn {
  background: #3498db;
  border-radius: 20px;
  text-shadow: 0px 0px 3px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}

.input
{
	border-radius: 30;
	padding: 5px 20px 5px 20px;
}
input
{
    -moz-border-radius: 15px;
    border-radius: 10px;
    border:solid 1px black;
    padding:5px;
}