.blue
{
	background-color: green;
}
.black
{
	background-color: black;
}
.yellow
{
	background-color: yellow;
}
.lightblue
{
	background-color: yellow;
	margin-top: 10px;
	margin-bottom: 10px;
}
.h
{
	margin-top: 80px;
}

.l
{
	ma
}


.G
{
	margin-top: 20px;

}